<div class="container contact-form">
    <div class="contact-image">
      <img src="https://static.vecteezy.com/system/resources/previews/010/730/607/original/official-document-circular-icon-vector.jpg" alt="rocket_contact" />
    </div>
    <h3>Zakazana Sudjenja</h3>
    <button type="button" class="btn btn-outline-light" (click)="getSudjenja()" id="osvezi">Osveži</button>
    <div class="list-container">
      <div class="list-group" id="list">
        <a href="#" *ngFor="let sudjenje of sudjenja" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
             <h5 class="mb-1">{{sudjenje.jmbgOptuzenog}}</h5>
            <small>{{sudjenje.vremeSudjenja | date:'dd-MM-yyyy'}}</small>
          </div>
          <p class="mb-1">Broj Sale: {{sudjenje.brojSale}}</p>
          <small>Sudija: {{sudjenje.brojSudijskeLicence}}</small><br> 
          <button type="button" class="btn btn-outline-danger"  (click)="presudi(sudjenje.jmbgOptuzenog, sudjenje.idOptuznice, sudjenje.brojSudijskeLicence)" id="optuziBtn">Presudi</button>
         
        </a>
      </div>
    </div>
  </div>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Presudi</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="text-align: center;">
          <button type="button" class="btn btn-danger" (click)="napraviPresudu(true)" data-bs-dismiss="modal">KRIV</button>
          <button type="button" class="btn btn-success" (click)="napraviPresudu(false)"style="margin-left: 20px;" data-bs-dismiss="modal">NIJE KRIV</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div class="alert alert-danger position-fixed top-0 start-0 m-2" role="alert" [hidden]="!showAlert" (click)="closeAlert()">
    Došlo je do greške, pokušajte ponovo.
    <button type="button" class="btn-close" aria-label="Close"></button>
  </div>
  <div class="alert alert-success position-fixed top-0 start-0 m-2" role="alert" [hidden]="!showAlertSuccess" (click)="closeAlertSuccess()">
    Presuda je napravljena.
    <button type="button" class="btn-close" aria-label="Close"></button>
  </div>